header {
	padding: 20px 0;
	margin-bottom: 50;
}

header .row, 
footer .row {
	display: flex;
	align-items: center;
}

header h1 { 
	color: white; 
	font-size: 48px;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header a {
	padding: 20px;
	margin: 0;
	color: black;
}

h2 {
	padding: 20px;
	margin: 0;
}

.jumbotron {
	margin-top: 20px;
	display: flex;
	align-items: center;
	background-image: url("Electric Fetus.jpg");
	background-size: cover;
	color: #ffffff;
	height: 700px;
	text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
	margin: 0 0 30px;
	width: 100%;
}

.col-md-6 {
	margin: 0 0 30px;
}

body { 
	background-color: #A9A9A9; 
}

footer {
	font-size: 12px;
	padding: 20px 0;
}

footer .col-sm-8 {
	display: flex;
	justify-content: flex-end;
}

footer ul {
	list-style: none;
}

footer li img {
	width: 32px;
	height: 32px;
}